* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(71,71,71);
    background: linear-gradient(315deg, rgba(71,71,71,1) 27%, rgba(42,67,140,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: #161618;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 40px;
    background-color: rgb(219, 202, 46);
    border-radius: 6px;
    border-style: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
    transition: .3s;
}
.btn:hover{
    background-color: rgb(163, 150, 31);
}

.btn-mini {
    color: #161618;
    font-size: 25px;
    height: 50px;
    width: 50px;
    background-color: rgb(219, 202, 46);
    border-radius: 6px;
    border-style: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
    transition: .3s;
}

.btn-mini:hover {
    background-color: rgb(163, 150, 31);
}
