* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background:radial-gradient(50% 100%, rgba(255,255,255,.2), rgba(255,255,255,0)),
    
    linear-gradient(90deg, rgba(24, 49, 85, 0.7) 1px, transparent 0),
    linear-gradient(180deg, rgba(24, 49, 85, 0.7) 1px, transparent 0);

    background-color:#0a223d;

    background-size:100% 100%, 

            50px 50px,
            50px 50px,

            25px 25px,
            25px 25px,

            100px 100px, 
            100px 100px;

    background-attachment: local;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: #161618;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 40px;
    background-color: rgb(219, 202, 46);
    border-radius: 6px;
    border-style: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
    transition: .3s;
}
.btn:hover{
    background-color: rgb(163, 150, 31);
}

.btn-mini {
    color: #161618;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background-color: rgb(219, 202, 46);
    border-radius: 6px;
    border-style: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
    transition: .3s;
}

.btn-mini:hover {
    background-color: rgb(163, 150, 31);
}

.lbl {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: aliceblue;
    text-shadow:2px 0 0 rgb(26, 26, 26),
                0 2px 0 rgb(26, 26, 26),
                -2px 0 0 rgb(26, 26, 26),
                0 -2px 0 rgb(26, 26, 26);
  }
